@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

/* Typography */
h1 {
    font-size: 1.5rem;
}

h4 {
    font-size: .9rem;
    text-transform: uppercase;
    color: #aaa;
    margin-left: 20px;
}

i {
    font-size: 1.5rem;
    color: #fff;
}

p, a {
    font-size: .9rem;
}

/* Divider */
hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
}

.logo-img {
    position: relative;
    height: 50px;
    width: 50px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo-txt {
    letter-spacing: -1.0px;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-container {
    align-items: center;
    display: flex;
}

.search-container {
    display: flex;
    align-items: center;
    flex: 0 1 685px;
    margin-left: 40px;
}

.search-container form {
    position: relative;
    width: 100%;
}

.search-container input {
    height: 40px;
    width: 100%;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px;
    color: #fff;
    font-size: 1rem;
}

.search, .mic {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    outline: none;
    border: none;
}

.mic {
    background-color: #181818;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container i {
    margin-left: 25px;
}

.profile-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

/* Body Container Styles */
.body-container {
    display: flex;
    position: fixed;
    height: calc(100vh - 60px);
    top: 60px;
}

.sidebar {
    background-color: #212121;
    padding-top: 10px;
    width: 240px;
    overflow-y: scroll;
    color: #fff;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    height: 40px;
}

.sidebar-item:hover {
    background-color: #4c4c4c;
}

.sidebar-items i {
    margin-right: 24px;
}

/* Main Content Styles */
.content {
    width: calc(100vw - 240px);
}

.chips-wrapper {
    background-color: #181818;
    overflow-x: scroll;
    display: flex;
    padding-left: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chips-wrapper::-webkit-scrollbar {
    display: none;
}

.chip {
    margin: 12px 6px;
    background-color: #373737;
    padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

.chip:hover {
    background-color: #4d4d4d;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    padding: 20px 25px;
    background-color: #181818;
    overflow-y: scroll;
    height: calc(100vh - 116px);
}

.video-content-cover {
    position: relative;
    width: auto;
    height: 145px;
    display: block;
}

.video-content-cover:hover {
    transform: translateY(50px);
    z-index: 999;
}

.video-content-cover:nth-child(4n+1):hover {
    transform: translateY(-20px, 50px);
    z-index: 999;
}

.video-content {
    margin-bottom: 20px;
    position: relative;
    transition: .5s;
    width: 100%;
}

.video-content:hover {
    transform: scale(1.3);
    z-index: 5;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #202020;
}

.video-box {
    position: relative;
    width: auto;
    height: 145px;
    display: block;
}

.channel-logo {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    padding-right: 5px;
}

.video-details {
    display: flex;
    color: #fff;
    padding-top: 12px;
}

.detail {
    margin-left: 40px;
}

.title {
    font-size: .9rem;
}

.channel-name {
    font-size: .8rem;
    margin-top: 10px;
    color: #aaa;
}

.btn {
    display: flex;
    color: #fff;
    padding-top: 7px;
}

.views-upload {
    display: flex;
    color: #fff;
    font-size: .8rem;
}

.upload {
    margin-left: 5px;
}

.hidden-content {
    display:none;
}
